<h2>My //TODO List</h2>
<p>Current Todo's: {{ count }}</p>
<form #todoForm="ngForm" (ngSubmit)="addTask(todoForm.value, todoForm)">
  <div>
    <input
      #inputTodo
      type="text"
      id="todo"
      name="todo"
      placeholder="enter task here"
      [ngModel]="todo"
    />
    <button>Submit</button>
  </div>
</form>
<div *ngFor="let task of tasks">
  <li>{{ task }} <button (click)="removeTask(task)">Delete</button></li>
</div>

<div>
  <h3>Completed Tasks</h3>
  <div *ngFor="let task of completedTasks">
    <li>{{ task }}</li>
  </div>
</div>
