<div class="new-theme-border">
    <div class="header-background">
        <span>New Theme</span>
    </div>
    <!--ReactiveForm-->
    <form [formGroup]="form">
        <div class="new-theme-title">
            <label for="themeName">Title <span class="red">*</span></label>
            <input type="text" formControlName="themeTitle" id="themeName" />
            <!-- themeName validators container -->
            <ng-container *ngIf="form.get('themeTitle')?.touched">
                <p class="error" *ngIf="form.get('themeTitle')?.errors?.['required']">
                    Theme name is required.
                </p>
                <p class="error" *ngIf="form.get('themeTitle')?.errors?.['minlength']">
                    Theme name must be at least 5 characters long.
                </p>
            </ng-container>
        </div>
        <div class="new-theme-content">
            <label for="postText">Post <span class="red">*</span></label>
            <textarea type="text" formControlName="themeContent" id="postText" rows="8" class="height"></textarea>
            <p class="error">The field with your post is required.</p>
            <p class="error">Post must be at least 10 characters long.</p>
        </div>
        <div class="new-theme-buttons">
            <button class="cancel">Cancel</button>
            <button class="public">Post</button>
        </div>
    </form>
</div>