<h1>Register page</h1>
<form method='post'>
  <label>Username <input type='text' name='username' /></label>
  <label>Password <input type='password' name='password' /></label>
  <label>Repeat password <input type='password' name='repass' /></label>
  <button>Register</button>
</form>