<article class='intro-right-side-content'>
  <img src='/static/img/technology.png' alt='technology' />
  <h5>
    <!--Put the value of the headline below-->
    {{headline}}
    <!--Put the value of the total number of candidates below-->
    <span>Candidates: {{count}}</span>
  </h5>
</article>