<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Charity Christmas</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>

    <div id="container">

        <nav>
            <ul>
                <!--For all users-->
                <li><a href="#">Home</a></li>
                <li><a href="#">Catalog</a></li>
                <!--For loggin users-->
                <li><a href="#">Create Toy</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#">Logout</a></li>
                <!--For guest user-->
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
                
            </ul>

        </nav>

        <section id="viewCatalog" class="background-img">
            <!--If there are one or more toys-->
            <div class="added-toys">
                <a href="#" class="added-toys-in-market">
                    <img src="./image/picture1.jpg" class="picture-added-toys">
                    <h3>Snowy pine Wooden tree toy</h3>
                    <span>Price: $33.00</span>
                </a>

                <a href="#" class="added-toys-in-market">
                    <img src="./image/picture2.jpg" class="picture-added-toys">
                    <h3>Christmas felt set Christmas ornament</h3>
                    <span>Price: $76.00</span>
                </a>

                <a href="#" class="added-toys-in-market">
                    <img src="./image/picture3.jpg" class="picture-added-toys">
                    <h3>Funny Christmas Tree</h3>
                    <span>Price: $26.00</span>
                </a>
            </div>

            <!--If there are no toys in catalog yet-->
            <!-- <div class="guest">
                There are no toys found...
            </div> -->
        </section>

        <footer>@SoftUni - JS Back-end - Charity Christmas 2022</footer>
    </div>

</body>

</html>