<section class="search">
  <h1>Search</h1>

  <form class="search-form" action="#" method="">
    <input
      type="text"
      class="search-title"
      name=""
      placeholder="Search Title..."
    />
    <input
      type="text"
      class="search-charity"
      name=""
      placeholder="Search Charity..."
    />
    <button type="submit" class="btn-search">Search</button>
  </form>

  <!--If there are matches after search-->
  <div class="search-result">
    <div class="search-list">
      <a href="#" class="added-toys-in-market">
        <img src="./image/picture1.jpg" class="picture-added-toys" />
        <h3>Snowy pine Wooden tree toy</h3>
        <span>Price: $33.00</span>
      </a>

      <a href="#" class="added-toys-in-market">
        <img src="./image/picture2.jpg" class="picture-added-toys" />
        <h3>Christmas felt set Christmas ornament</h3>
        <span>Price: $76.00</span>
      </a>
    </div>
  </div>
  <!--If there are no matches-->
  <!-- <div class="no-match">
                <p>No match was found!</p>
            </div> -->
</section>
