<div class="profile">
    <img src="./profile.png" alt="default user" />
    <form [formGroup]="form" (ngSubmit)="saveProfile()">
        <h3>User Info:</h3>
        <!-- User info -->
        <div class="flex">
            <p>Username:</p>
            <p>
                <ng-container *ngIf="showEditMode">
                    <input  type="text" formControlName="username" />
                    <p class="error" *ngIf=" form.get('username')?.touched && form.get('username')?.errors?.['required']  ">
                        Username is required!
                      </p>
                      <p class="error" *ngIf="form.get('username')?.errors?.['minlength']">
                        Username must be atleast 5 characters!
                      </p>
                </ng-container>
                <ng-container *ngIf="!showEditMode">{{ user.username }}</ng-container>
            </p>
        </div>
        <!-- Email -->
        <div class="flex">
            <p>Email:</p>
            <p>
                <ng-container *ngIf="showEditMode">
                    <input  type="text" formControlName="email" />
                <ng-container *ngIf="form.get('email')?.touched">
                    <p class="error" *ngIf="form.get('email')?.errors?.['required']">
                      Email is required!
                    </p>
                    <p class="error" *ngIf="form.get('email')?.errors?.['appEmailValidator']">
                      Email is not valid!
                    </p>
                  </ng-container>
                </ng-container>
                
                <ng-container *ngIf="!showEditMode">{{ user.email }}</ng-container>
            </p>
        </div>
        <!-- Phone -->
        <div class="flex">
            <p>Phone:</p>
            <p>
                <ng-container *ngIf="showEditMode">
                    <label for="tel"><span><i class="fas fa-phone"></i></span></label>
                    <select name="select-tel" id="select-tel" class="tel" formControlName="ext">
                        <option value="00359">+359</option>
                    </select>
                    <input type="text" formControlName="tel" id="tel" placeholder="885 888 888" />
                </ng-container>
                <ng-container *ngIf="!showEditMode">
                    <p>{{ user.ext }} {{ user.tel }}</p>
                </ng-container>
            </p>
        </div>
        <ng-template #edit>
            <button class="edit-button" type="submit">Save</button>
        </ng-template>
        <ng-template #noneEdit>
            <button class="edit-button" type="button" (click)="toggleEditMode()">Edit</button>
        </ng-template>
        <ng-container *ngTemplateOutlet="showEditMode ? edit : noneEdit"></ng-container>
    </form>
</div>