<h1>My Cars</h1>

<ul class="cars">
  <li *ngFor="let car of cars">
    <button (click)="onSelect(car)">
      <span> id: {{ car.id }}</span>
      <span> {{ car.make }}</span>
    </button>
  </li>
</ul>

<div *ngIf="selectedCar">
    <h2>{{selectedCar.make | uppercase}} Details</h2>
    <div>Model: {{selectedCar.model}}</div>
    <div>id: {{selectedCar.id}}</div>
    <div>
      <label for="car-make">Hero name: </label>
      <input id="car-make" [(ngModel)]="selectedCar.id" placeholder="make">
    </div>
  </div>