<form #form="ngForm" class="login" (ngSubmit)="loginHandler(form)">
    <fieldset>
        <h2>Login Form</h2>
        <p class="field field-icon">
            <label for="email"><span><i class="fas fa-envelope"></i></span></label>
            <input #emailInput="ngModel" class="input-error" ngModel required 
                name="email" id="email" placeholder="john.doe" />
        </p>

        <ng-container *ngIf="emailInput.touched">
            <p class="error" *ngIf="emailInput.errors?.['required']">
                Email is required!
            </p>

            <p class="error" *ngIf="emailInput.errors?.['appEmailValidator']">
                Email is not valid!
            </p>
        </ng-container >

        <p class="field field-icon">
            <label for="password"><span><i class="fas fa-lock"></i></span></label>
            <input type="password" #passwordInput="ngModel" ngModel required minlength="5" name="password" id="password" placeholder="******" />
        </p>

        <ng-container *ngIf="passwordInput.touched">
            <p class="error" *ngIf="passwordInput.errors?.['required']">Password is required!</p>
            <p class="error" *ngIf="passwordInput.errors?.['minlength']">Password must be at least 4 characters!</p>
        </ng-container>

        <button [disabled]="form.invalid">Login</button>
        <p class="text-center">
            Have an account?
            <a routerLink="/auth/register">Register</a>
        </p>
    </fieldset>
</form>