<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <title>Charity Christmas</title>
    <link rel='stylesheet' href='/static/css/styles.css' />
  </head>

  <body>
    <!-- In case of error, you should display div with class "errorContainer" -->
    <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
    {{#if errors}}

      <div>

        <div class='errorContainer'>
          {{#each errors}}
            <p>{{this}}</p>
          {{/each}}
        </div>

      </div>

    {{/if}}

    <div id='container'>

      <nav>
        <ul>
          <!--For all users-->
          <li><a href='/'>Home</a></li>
          <li><a href='/site/catalog'>Catalog</a></li>
          {{#if email}}
            <!--For loggin users-->
            <li><a href='/site/create'>Create Toy</a></li>
            <li><a href='/site/search'>Search</a></li>
            <li><a href='/auth/logout'>Logout</a></li>
          {{else}}
            <!--For guest user-->
            <li><a href='/auth/login'>Login</a></li>
            <li><a href='/auth/register'>Register</a></li>
          {{/if}}

        </ul>

      </nav>
      <main>
        {{{body}}}
      </main>

      <footer>@SoftUni - JS Back-end - Charity Christmas 2022</footer>
    </div>

  </body>

</html>