<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <title>Home Page</title>

    <!-- Do not forget to change the path to the css file -->
    <link href='/static/css/style.css' type='text/css' rel='stylesheet' />
  </head>

  {{#if errors}}
    {{#each errors}}
      <div class='error-container'>
        <p>{{msg}}</p>
      </div>
    {{/each}}
  {{/if}}

  <body>

    <div id='box'>

      <nav>
        <!-- Do not forget to change the path to the image -->
        <img src='/static/img/logo.png' alt='logo' />

        <ul class='menu'>
          <li><a href='/'>Home</a></li>
          <li><a href='/site/catalog'>All Posts</a></li>
          {{#if email}}
            <!-- Logged users -->
            <li><a href='/site/create'>Create Post</a></li>
            <li><a href='/site/myPosts'>Posts of {{email}}</a></li>
            <li><a href='/auth/logout'>Logout</a></li>
          {{else}}
            <!-- Guest users -->
            <li><a href='/auth/register'>Register</a></li>
            <li><a href='/auth/login'>Login</a></li>
          {{/if}}
        </ul>

      </nav>

      {{{body}}}

      <footer>
        © Js Back-End Exam 2021
      </footer>
    </div>

  </body>

</html>